/* ==============================================
    Default Theme
    ---------------------------------------------
    Fonts: ALeo & Alegerya
    ---------------------------------------------
    Colors:
        Light Yellow:   #FFFEBD
        Grey:           #212226
        White Smoke:    #f4f4f4
        White:          #fff
        Black:          #000
================================================= */